<footer class="bg-dark text-light mt-5">
	<div class="container">
	  <div class="row">
		<!-- FABRILIFE Section -->
		<div class="col-md-3">
		  <h5>GreatKart</h5>
		  <ul class="list-unstyled">
			<li>ABOUT US</li>
			<li>TERMS & CONDITIONS</li>
			<li>PRIVACY POLICY</li>
			<li>CANCELLATION & RETURN POLICY</li>
			<li>FAQS</li>
			<li>CONTACT US</li>
		  </ul>
		</div>
		
		<!-- MEN Section -->
		<div class="col-md-3">
		  <h5>MEN</h5>
		  <ul class="list-unstyled">
			<li>SHORT SLEEVE</li>
			<li>LONG SLEEVE</li>
			<li>POLO</li>
			<li>SHIRT</li>
			<li>HOODIE</li>
			<li>COMFY TROUSER</li>
			<li>SPORTS TROUSER</li>
		  </ul>
		</div>
  
		<!-- WOMEN Section -->
		<div class="col-md-3">
		  <h5>WOMEN</h5>
		  <ul class="list-unstyled">
			<li>COMFY TROUSER</li>
			<li>FACE MASK</li>
			<li>CLASSIC</li>
			<li>DESIGNER EDITION</li>
		  </ul>
		</div>
  
		<!-- KIDS Section -->
		<div class="col-md-3">
		  <h5>KIDS</h5>
		  <ul class="list-unstyled">
			<li>SPORTS</li>
			<li>JERSEY</li>
			<li>MAGGIE</li>
			<li>SHORT SLEEVE</li>
			<li>LONG SLEEVE</li>
			<li>SHORTS</li>
			<li>TROUSER</li>
		  </ul>
		</div>
	  </div>
	</div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
        $('.thumb a').click(function(e) {
            e.preventDefault();
            $('.mainImage img').attr('src', $(this).attr("href"));
        });
    });
   </script>
